* {
  font: "Lato", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

nav {
  /* display: flex;
  flex-direction: row; */
  /* padding: 10px; */
}

a {
  color: black;
}

nav ul {
  /* display: flex; */
}

/* Main Section styles */
.main {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-image: url(./bg.png);
  background-size: cover;
  padding: 2rem;
}

.main-text {
  color: #fff;
  /* align-self: end !important; */
}

.form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 30rem;
}

.form p {
  text-align: center;
  font-weight: bold;
}

.form form > * {
  display: block;
  width: 100%;
}

input,
select {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
}

label {
  margin-top: 1rem;
}

.form button .button {
  margin-top: 1rem !important;
}

.Zuri {
  padding-top: 2rem;
  min-height: 20rem;
}
