* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(bg.png);
  background-size: cover;
  padding: 3rem;
}

.main-text {
  align-self: end;
  color: #fff;
}

.main-text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  max-width: 30rem;
  height: 100%;
  height: 100%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  align-self: center;
}

.form p {
  text-align: center;
  font-weight: bold;
}

form > * {
  display: block;
  width: 100%;
}

form label {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

input,
select {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
}

form button {
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #f43636;
  margin-top: 1rem;
  color: #fff;
}
